.our-services-title {
    text-align: center;
    margin-top: 30px;
}

.title-underline {
    width: 90px;
    height: 4px;
    background-color: purple;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px
}

.services-container {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}